<a href="/">Back to Search</a>


<ul>
  <% games.forEach( function(game, i) {%>
    <h2> <a href="/games/<%= game.id %>"> <%= game.name %>  </h2>
    <h4> <a href="<%= game.url %>">link to game</a>  </h4>
  <% }); %>
</ul>