

<form method='GET' action="/games">
  <h2><label for="game">Search for a Game</label></h2>
  <input type="text" name='game' placeholder="Enter game...">
  <input id="gameTitle" type="submit" value="Search">
</form>